
<main class="position-relative"> 
   
    <div class="layer"></div>
    <div class="navb">
       <app-navbar></app-navbar>
    </div>

    <section>
        <div class="container  ps-4 ">
            <div class="row">
                <div class="col-md-6 ps-5 ">
                    <div class="">
                        <div class="title d-flex flex-column justify-content-center align-items-start  ">
                            <div class="py-3">
                                <h1 class="header text-white ">Watch Free Movies With <span class="text-warning">N</span>oxe.</h1>
                            </div>
                            <div class="pb-3"> 
                                <p class="text-white header2">Stop searching for free movie websites and watch Plex now.</p> 
                            </div>
                       <div class="pb-3" >
                        <button class="btn btn-warning rounded-4 mx-auto d-block d-flex justify-content-start  text-white fw-bolder" routerLink="/home">Stream Free Now</button>
                       </div>
            
                        </div>
                    </div>
            </div>
          
        </div>

       
        </div>
    </section>
</main>
