.row{
    padding-top: 100px!important;
}
@media (max-width:772px) {
    .toogle{
        margin-left: 100px!important;
    }
}
img{
    color: white;
    font-size: 20px;
    text-align: center;
    
}
.rate{
    top: 3%;
    right: 3%;
    font-size: 13px!important;
    border-radius: 50%;
    background-color: rgba(222, 222, 222, 0.7);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.count{
    background-color: hsla(0,0%,87%,.7);
    font-size: 15px;
    bottom: 25%;
    z-index: 10;
    padding: 3px;
}
a{
    cursor: pointer;
}