<main class="w-100 h-100">
    <div class="background position-relative" style="background-image: url('{{img}}');">
<div class="layer"></div>
<div class="infor container-fluid px-5" >
    <div class="row" >
        <div class="col-md-3">
            <img *ngIf="details2?.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + details2?.poster_path!"
            class="w-100  rounded-4 img-fluid h-100" alt="dasas" style="height: 400px;">
            <img *ngIf="details2?.profile_path" [src]="'https://image.tmdb.org/t/p/w500' + details2?.profile_path!"
            class="w-100  rounded-4 img-fluid h-100" alt="dasas" style="height: 400px;">
        </div>
        <div class="col-md-8">
            <h2 class="my-2 text-white" >{{details2?.title}} {{details2?.name}}</h2>
            <div  class="d-flex align-items-center">
                <div class="pe-3">
                  <h3 class="muted h6" *ngIf="details2?.place_of_birth">{{details2?.place_of_birth}} </h3>
                  <h3 class="muted h6" *ngIf="details2?.birthday"><span>Birthday : </span><span>{{details2?.birthday}}</span></h3>
                  <h3 class="muted h6" *ngIf="details2?.deathday"><span>deathday : </span><span>{{details2?.deathday}}</span></h3>
                  <h3 class="muted h6" *ngIf="details2?.release_date">({{details2?.release_date.split('-').splice(0,1).join('-')}})</h3>
       
            <h3 class="muted h6" *ngIf="details2?.first_air_date">({{details2?.first_air_date.split('-').splice(0,1).join('-')}})</h3>
            <h3 class="muted h6" *ngIf="details2?.biography">({{details2?.biography}})</h3>
            

          </div>

        </div>
            <p class="muted fs-4">{{details2?.overview}}</p>
            <div class="sure d-flex align-items-center justify-content-center ">
                <div class="colom d-flex flex-column align-items-center px-5 pt-3" *ngIf="details2?.vote_average">
<div class="position-relative muted">
  <h4> vote_average </h4> 
</div>
<div>
    <h6 class="rate "  style="border: 5px solid rgb(173, 255, 47)" >{{details2?.vote_average.toFixed(1)}} </h6>
</div>
</div>
<div class="colom d-flex flex-column align-items-center" *ngIf="details2?.popularity">
<div class="position-relative muted" >
<h4> popularity </h4> 
</div>
<div>
<h6 class="muted2"  >{{details2?.popularity}}</h6>
</div>
</div>
<div class="colom d-flex flex-column align-items-center px-5" *ngIf="details2?.vote_count">
<div class="position-relative muted">
<h4> vote count</h4> 
</div>
<div>
<h6 class=" muted2"  >{{details2?.vote_count}}</h6>
</div>
                                                        </div>
            </div>
        </div>
        <div class="row pt-5">
          <div *ngIf="known" class=" d-flex justify-content-center text-center mt-5 row ms-0 me-0 pb-3 border-bottom-red" >
            <h2 class="h6 opacity-75 fw-semibold p-1">Also Known As</h2>
            <div *ngFor="let item of known " class="d-flex col-md-4 mx-auto justify-content-center">
              <p class="col-4 h-auto m-1 p-1 overflow-auto bg-light bg-opacity-10 opacity-75 rounded-3 text-white" >{{item}}</p>
            </div>
            </div>
           
            <h1 class="header text-white h3 ps-5 cursor-pointer" *ngIf="details2?.videos">Trailers and Videos :</h1>
            <owl-carousel-o [options]="customOptions" class="col-md-6 w-100 mx-auto" *ngIf="details2?.videos">
            
                <ng-container  *ngFor="let data of details2?.videos.results">
                 
                  <ng-template carouselSlide class="overflow-hidden"   >
                    <ng-container *ngIf="isloading">
                    <div class="col-md-12"   >
                      <div class="border-round border-1 surface-border p-4 surface-car"  id="sd">
                        <div class="flex mb-3">
                            <div>
                              <p-skeleton width="100%" height="250px"></p-skeleton>
                              <p-skeleton width="100%" styleClass="my-2" height="25px" ></p-skeleton>
                              <p-skeleton width="100%" styleClass="my-2" height="25px" ></p-skeleton>
                              <p-skeleton width="100%" styleClass="my-2" height="25px" ></p-skeleton>
                            </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                <ng-container *ngIf="!isloading">
                    <div class="sure ">
                   
                      <iframe
                      [src]="'https://www.youtube-nocookie.com/embed/' + data?.key  | safe " 
                      
                      height="315"
                     [title]="data.name"
                      className="videos"> </iframe>
                    </div>
                  </ng-container>
                  </ng-template>
                
                </ng-container>
            
              </owl-carousel-o>
              <owl-carousel-o [options]="customOptions2" class="col-md-12 mx-auto pt-4" >

                <ng-container *ngFor="let data of similar">
                  <ng-template carouselSlide class="overflow-hidden" >
                    <a [routerLink]="['/details2',data.id , media2]">
                    <div class="sure">
                    <img height="270" [src]="'https://image.tmdb.org/t/p/w500' + data.poster_path
          
                    " class="rounded-2 w-100" alt="not found" >
                    <h6 class="fw-bolder overflow-hidden text-center dark text-nowrap">{{data.name}} {{data.title}}</h6>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                      <h5 class="rate2 "><span><i class="fas fa-star rating-color"></i></span><span class="text-white ps-1">{{data.vote_average.toFixed(1)}}</span></h5>
                    </div>
                    <div>
                        <h3 class="data text-white" *ngIf="data?.release_date">{{data?.release_date.split('-').splice(0,1).join('-')}}</h3>
                        <h3 class="data text-white" *ngIf="data?.first_air_date">{{data?.first_air_date.split('-').splice(0,1).join('-')}}</h3>
                    </div>
                    </div>
                  </div>
                </a>
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
            </div>
        </div>
   
</div>
    </div>
   
</main>
